.progress{
    width: 400px;
    height: 200px;
    background-color: rgba(131, 105, 167, 0.51);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter{
    font-size: 40px;
    color: black;
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.TodoItem{
    display: flex;
    flex-direction: row;
    width: 500px;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 0, 200, 0.18);
    border-radius: 15px;
}

/*p{*/
/*    text-align: center;*/
/*    word-break: break-all;*/
/*    width: 10rem;*/
/*}*/

.TodoItem-p--complete {
    text-decoration: line-through;
    text-align: center;
    word-break: break-all;
    width: 10rem;
}

.Icon-svg{
    width: 30px;
    height: 30px;
}

.icon-data{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}