.form{
    background-color: rgba(0, 0, 0, 0.75);
    display:flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    top:50px;
    left:90px;
    right:90px;
    bottom:50px;
    border-radius: 15px;
}